# API host
API_STAGE_HOST=https://conti-tcp-stage.merklechina.com

# retailer test account
TEST_RETAILER_ID=86328
TEST_RETAILER_COC=0007700236
TEST_RETAILER_PHONE=1755555555
TEST_RETAILER_NAME=SOON LEE HIN_ac

# customer test account
TEST_CUSTOMER_ID=1517699
TEST_CUSTOMER_PHONE=1701111117
TEST_CUSTOMER_NAME=xiaox

# mysql
MYSQL_HOST=10.22.50.52
MYSQL_PORT=3306
MYSQL_USER=ctcp_dev
MYSQL_PASSWORD=
MYSQL_DB=STG
